@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&family=Cormorant:wght@700&display=swap");

body {
	background-color: white;
}

.header {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: right;
	align-items: center;
	border-bottom: 5px solid pink;
	margin-bottom: 100px;
}

.navigation {
	border: 20px;
	padding: 10px;
}

.navigation ul {
	border: 20px;
	margin: 0;
	padding: 4;
}

.navigation ul li {
	background-color: #91c5d2;
	padding: 20px 40px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 20px;
	font-size: 30px;
}

.navigation ul li a {
	border: 50px;
	text-decoration: none;
	color: white;
}

.section1,
.section2,
.section3 {
	display: flex;
	justify-content: space-around;
	margin: 20px 0;
}

.section1 .foto,
.section2 .foto,
.section3 .foto {
	width: 30%;
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 25%;
	border: 3px solid #91c5d2;
}

.foto1 {
	width: 20%;
	text-align: center;
}

.contacteer {
	text-align: center;
	margin-top: 150px;
	border-top: 5px solid #d39fa1;
	color: #d39fa1;
}

.contactflex {
	display: flex;
	justify-content: space-around;
	margin: 20px 0;
	color: #d39fa1;
}

h2 {
	margin-top: 10px;
	color: #ac81b7;
	font-weight: bold;
}

p {
	color: #d39fa1;
	font-weight: bold;
}

.foto2 {
	margin-top: 2%;
	width: 35%;
	text-align: center;
}
